img {
    position: fixed;
    height: 35px;  
  }

#resume {
    padding-left: 40px;
    padding-top: 50px;
}

#folder {
  padding-left: 40px;
  padding-top: 115px;
}

#picture {
  padding-left: 40px;
  padding-top: 180px;
}

