button {
    background-color: #3a983c;
    width:fit-content;
    padding: 5px;
    color:white;
    border-radius: 10%;
    text-emphasis-style: italic;
    bottom: 0;
    position:fixed;
}

section {
    background-color: white;
    color: red;
}